# Скрытое виртуальное окружение
.venv/

# Настройки PyCharm / IntelliJ
.idea/

# Кэш Python и скомпилированные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Системные файлы macOS
.DS_Store

# Логи и временные файлы
*.log
*.tmp
# Виртуальное окружение
.venv/

# Настройки PyCharm / IntelliJ
.idea/

# Кэш Python и скомпилированные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и временные файлы
*.log
*.tmp

